*{
    margin: 0; 
    padding: 0;
    
}

.incre-dicre-btn{
    border: 2px solid black;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    width: 70px;
    border-radius: 20px;
}
body{
    background-color: #0a0a0a;
}
.container{
    margin-bottom: 120px;
    margin-top: -20px;
    
}


.mainheading{
    color: #ff0066;
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    text-shadow: 1px 1px 2px white, 0 0 1em #ff0066, 0 0 0.2em #ff0066;
}
.bg-green{
    background-color: #33ff33;
}
.bg-red{
    background-color: #ff0000;
}
.box-border{
    box-shadow: 0px 0px 10px 3px white;
    height: 70vh;
    margin-top: 100px;
}
/* .main-heading
{
    color: ;
} */
.score{
    display: block;
    text-align: center;
    color: wheat;
    font-size: 100px;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reset-box
{
    background-image: url('football.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.reset-btn{
  
    position: absolute;
    bottom: 5px;
    left: 240px; 
    /* left: 42%;
    /* width: 100px;
    border: 2px solid black;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border-radius: 20px; */
}
.incre-dicre-box{
    margin-top: 100px;
}
.player{
    text-align: center;
    font-size: 50px;
    color: rgb(7, 202, 7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.player1-box{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(player1.jpg);
    opacity: 1;
    background-size:100% 70vh ;
}
.player2-box{
    background-image:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
     url(player2.jpg);
     opacity: 1;
    background-size:100% 68vh ;
}


button {
    width: 170px;
    height: 40px;
    color: white;
    background-color:  #0a0a0a;;
    font-size: 20px;
    border-bottom: 1px solid white;
    border-left: 1px solid #ff0066;
    border-right: 1px solid #ff0066;
    border-top: 1px solid white;
    border-radius: 20px;
    transition: 0.5s;
  }

  button:hover {
    background-color: #ff0066;
    border: none;
  }